

<% if (!user) { %>
  <header>
    <ul>
      <li><a href="/login/facebook">Log In with Facebook</a></li>
    </ul>

  </header>
<% } else { %>
  <header>
    <h1>Enigmatic</h1>
    <ul>
      <li><%= user.userProfile.displayName %></li>
      <li><a href="/profile">profile</a></li>
      <li><a href="/">home</a></li>
      <li><a href="/friends">my friends</a></li>
    </ul>
  </header>
<% } %>
