<% include partials/head.ejs %>

<% include partials/header.ejs %>


<div class="convo-container">
  <ul>
    <li>friend</li>
    <li>friend</li>
    <li>friend</li>
  </ul>
</div>

<form >
  <input id="getfriends" type="text" name="users">
</form>

  </body>
</html>
