<% include partials/head.ejs %>

<% include partials/header.ejs %>

<% if (user) { %>

<div class="convo-container">
  <input id="getfriends" type="text" name="users" placeholder="search friends">
  <ul id="my-friends">
    <li>You have <%=user.totalFriends%> friends</li>
    <% for (var i=0; i < user.friends.length; i++ ) { %>
    <li><%= user.friends[i].name %></li>
    <% } %>
    <li>Hayleigh</li>
  </ul>
</div>

<% } %>


  </body>
</html>
