<% include partials/head.ejs %>

<% include partials/header.ejs %>

<% if (user) { %>

<div class="convo-container">
  <input id="getfriends" type="text" name="users" placeholder="search friends">
  <ul>
    <li><%=user.totalFriends%></li>
    <% for (var i=0; i < user.friends.length; i++ ) { %>
    <li>friend <%= user.friends[i].name %></li>
    <% } %>
    <li>Hayleigh</li>
  </ul>
</div>

<% } %>


  </body>
</html>
