<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
  <ul>
    <li>Hello, <%= user.userProfile.displayName %>. View your <a href="/profile">profile</a>.</li>
    <li><a href="/messanger">Messanger</a></li>
    <li><a href="/messages">Messages</a></li>

  </ul>
<% } %>
