<% include partials/head.ejs %>

<% include partials/header.ejs %>

<% if (user) { %>

    <div id="online-users-container">
        <ul id="convos">
          <li><a href="/messanger">Online Users</a></li>
        </ul>
    </div>


    <div id="chat-container">
        <ul id="messages"></ul>
          <form action="">
            <input id="input-message" autocomplete="off" placeholder="Type here..."/><button>Send</button>
          </form>
    </div>

<% } %>

  </body>
</html>
