<% include partials/head.ejs %>

<% include partials/header.ejs %>

<% if (user) { %>

    <div class="convo-container">
        <ul id="convos">
          <li><a href="/messanger">Convo</a></li>
          <li><a href="/messanger">Convo</a></li>
        </ul>
    </div>

<% } %>

  </body>
</html>
