  <% include partials/head.ejs %>

  <% include partials/header.ejs %>

<div class="convo-container ">
  <ul>
    <li>ID: <%= user.id %></li>
    <li>Name: <%= user.userProfile.displayName %></li>

    <% if (user.userProfile.emails) { %>
    <li>Email: <%= user.emails[0].value %></li>
    <% } %>
  </ul>

</div>




  </body>
</html>
