  <% include partials/head.ejs %>

  <% include partials/header.ejs %>

<div class="convo-container ">
  <ul>
    <li>ID: <%= user.id %></li>
    <li>Name: <%= user.userProfile.displayName %></li>
    <li>Email: <%= user.userProfile.email %></li>
    <li>Total Facebook Friends: <%= user.totalFriends %></li>
  </ul>

</div>




  </body>
</html>
