* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  /*background-image: url('https://wallpaperscraft.com/image/surface_gray_spot_light_texture_50876_1920x1080.jpg');*/
  /*background-image: url('https://images5.alphacoders.com/430/430918.jpg');*/
  background-image: url('http://cache4.asset-cache.net/xd/487751689.jpg?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE480D458530A312FCEA586871D979DBBA836C840A9D29B1271C482F0C0365381186A');
  background-size: cover;
  background-repeat: no-repeat;
  font: 13px Helvetica, Arial;
  background-color: #E6E6FF;
  font-family: 'Abel', sans-serif;
}

/*====================================*/
/*HEADER*/

header {
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid #666666;
  height: 45px;
  width: 30%;
  overflow: hidden;
  transition-property: 100%;
	transition-duration: 1s;
	transition-timing-function: easeInOutQuart;
}

header > h1{
  padding: .5em;
  color: silver;
  text-align: center;
}

header:hover {
  background: darkgrey;
	height: 100%;
	width: 40%;
	text-align: center;
  -webkit-box-shadow: 24px 0px 68px -3px #666666;
  -moz-box-shadow: 24px 0px 68px -3px #666666;
  box-shadow: 24px 0px 68px -3px #666666;
}

header > ul > li {
  padding: 1.9em;
}

header > ul > li:hover {
  background-color: #d0dde1;
}




/*====================================*/
/*LINKS*/

a {
  text-decoration: none;
  color: silver;
}

a:hover {
  color: #666666;
}

/*====================================*/
/*MESSENGER*/

#chat-container {
  position: absolute;
  height: 90%;
  width: 55%;
  border: 1px solid black;
  background-color: #F8F7F7;
  margin-top: 0;
  margin-left: 45%;
  margin-right: auto;
  -webkit-box-shadow: 2px 2px 68px -3px #666666;
  -moz-box-shadow: 2px 2px 68px -3px #666666;
  box-shadow: 2px 2px 68px -3px #666666;
}

#chat-container > ul {
    overflow-y: scroll;
}

form {
  position: relative;
  padding: 3px;
  width: 100%;
  float: bottom; 
}

form > input {
  position: absolute;
  background-color: #F8F7F7;
  border: 1px solid #666666;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form > button {
  position: relative;
  float: right;
  width: 9%;
  background: #d0dde1;
  border: 1px solid #666666;
  padding: 10px;
}

form > button:hover {
  background-color: #666666;
}

#messages {
  list-style-type: none;
  margin: 10% auto;
  padding: 0;
  height: 85%;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

/*====================================*/
/*INDEX PAGE*/

.convo-container {
  position: absolute;
  z-index: 1;
  height: 600px;
  width: 60%;
  border: 1px solid black;
  background-color: #F8F7F7;
  margin-left: 20%;
  margin-top: 18%;
  -webkit-box-shadow: 2px 2px 68px -3px #666666;
  -moz-box-shadow: 2px 2px 68px -3px #666666;
  box-shadow: 2px 2px 68px -3px #666666;
  overflow-y: scroll;
}

.convo-container > ul > li {
  padding: 1em;
  list-style: none;
  border-bottom: 1px solid #666666;
}

.convo-container > ul > li:hover {
  background-color: darkgrey;
}

#getfriends {
  width: 100%;
  padding: 1em;
  background-color: #F8F7F7;
  font-color: silver;
}

#getfriends:hover {
  background-color: #d0dde1;
}


#online-users-container {
  position: absolute;
  z-index: 1;
  height: 600px;
  width: 28%;
  border: 1px solid black;
  background-color: #F8F7F7;
  margin-left: 0%;
  margin-top: 18%;
  -webkit-box-shadow: 2px 2px 68px -3px #666666;
  -moz-box-shadow: 2px 2px 68px -3px #666666;
  box-shadow: 2px 2px 68px -3px #666666;
  overflow-y: scroll;
}

#online-users-container > ul > li {
  padding: 1em;
  list-style: none;
  border-bottom: 1px solid #666666;
}

#online-users-container > ul > li:hover {
  background-color: darkgrey;
}


/*====================================*/
/*MEDIA QUERY*/

@media (min-width: 500px) {
  header {
    width: 35%;
    border-bottom: none;
  }
  header > h1 {
    border-bottom: none;
    width: 35%;
  }

  .convo-container {
    height: 650px;
    width: 40%;
    margin-top: 5%;
    margin-left: 50%;
  }

}
